.forgot-password-wrapper{
    width: 25%;
    margin: auto;
    margin-top: 10%;
    background: #f8fafb;
    border-radius: 10px;
    padding: 10px 20px 50px 20px;
    text-align: center;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.submit-button {
    display: block;
    background-color: #007bff;
    color: white;
    margin: auto;
    width: 194px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.card-background {
    background-color: #f7fafc;
}

.forgot-background {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #354778 0%, rgba(53, 71, 120, 0.75) 100%);
  }
  
.forgot-form {
    display: grid;
}

.forgot-button {
    width: 100px;
    margin: auto;
}

.text-bottom {
    text-align: center;
    font-size: 13px;
}