@media screen and (max-width: 600px) {
  .filters-section {
    flex-direction: column;

    div {
      flex-direction: column;

      button {
        margin-bottom: 10px;
      }
    }
  }
}

.big-number {
  font-weight: bold;
  font-size: 3rem;
}

.review-card {
  border: 1px solid #e5e8ed;
  border-radius: 5px;
  margin: 10px;
}

.header-border {
  height: 5px;
  background-color: #66cdbb;
}

.review-card-body,
.review-card-footer {
  padding: 1rem;
}

.negative-review-color {
  background-color: #f57d6b;
}

.stars-bar-wrapp {
  display: flex;
  align-items: center;

  .star-bar {
    width: 67%;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    .progress-bar {
      background-color: #39bcb4;
    }
  }
}

.date-picker-wrapp {
  margin-top: -40px;
  display: none;
  position: absolute;
  left: 15px;
  z-index: 999;
  padding: 0 20px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 400px) {
  .date-picker-wrapp {
    left: 5px;
  }

  .rdrDateRangeWrapper {
    .rdrMonth {
      width: 100%;
    }
  }
}

.date-range-btn-wrapp {
  display: flex;
  border: 1px solid #e5e8ed;
  border-radius: 10px;

  .date-range-btn:first-child {
    border-right: 1px solid #e5e8ed;
  }
}

.date-range-btn {
  padding: 5px 15px;
  cursor: pointer;

  &.custom-dropdown {
    border: 1px solid #e5e8ed;
    border-radius: 10px;
    position: relative;
  }

  .custom-dropdown-menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 36px;
    left: 0;
    overflow: hidden;
    background: #fff;
    min-width: 150px;
    border: 1px solid #e5e8ed;
    border-radius: 10px;
  }

  .custom-dropdown-item {
    padding: 10px;

    &:hover {
      background: $white;
    }
  }
}

.arrow-wrapp {
  margin-top: -5px;
}

.arrow {
  border: solid $blackHighlight;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// .rdrDefinedRangesWrapper {
//   display: none;
// }
