// burger button
$burger-h: 22px;
$burger-w: 26px;
// burger button stripes
$menu-stripe-w: 26px;
$menu-stripe-h: 3px;
$menu-stripe-color: #3498db;
$menu-stripe-color-h: white;
// header
$header-h: 50px;
$header-background: #2c3e50;
// side menu
$side-menu-w: 250px;

// ~~~ mixins ~~~
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

.menu-stripe {
	display: inline-block;
	width: $menu-stripe-w;
	height: $menu-stripe-h;
	background: $menu-stripe-color;
	position: relative;
	@include transition(all .1s linear);
	
	&:before, &:after {
		content: "";
		display: inline-block;
		width: $menu-stripe-w;
		height: $menu-stripe-h;
		background: $menu-stripe-color;
		position: absolute;
		left: 0;
		@include transition(all .1s linear);
	}
	
	&:before {
		top: -8px;
	}
	
	&:after {
		top: 8px;
	}
}

#menu-trigger {
	display: inline-block;
	width: $burger-w;
	height: $burger-h;
	line-height: 15px;
	position: absolute;
	top: 50%;
	left: 20px;
	@include transform(translateY(-50%));
	
	// when you click the hamburger button
	&.menu-clicked {
		.menu-stripe {		
			background-color: transparent;
			
			&:before {
				background-color: white;
				top: 50%;
				@include transform(translateY(-50%) rotate(45deg));
			}
			
			&:after {
				background-color: white;
				top: 50%;
				@include transform(translateY(-50%) rotate(-45deg));
			}
		}
		
		// hovering the hamburger button when its clicked
		&:hover {
			.menu-stripe {
				background-color: transparent;
				
				&:before {
					top: 50%;
					@include transform(translateY(-50%) rotate(45deg));
				}
				
				&:after {
					top: 50%;
					@include transform(translateY(-50%) rotate(-45deg)); 
				}
			}			
		}
	}
	
	// hover the hamburger button
	&:hover {
		.menu-stripe {
			background-color: $menu-stripe-color-h;
			
			&:before, &:after {
				background-color: $menu-stripe-color-h;
			}
			
			&:before {
				top: -10px;
			}
			
			&:after {
				top: 10px;
			}
		}	
	}
}

.side-menu-container {
	width: $side-menu-w;
	height: 100%;
	background-color: #34495e;
	color: white;
	position: fixed;
	left: 0;
	z-index: 3;

	&.side-menu-close {
		transform: translateX(-$side-menu-w);
	}

	transition: transform 0.4s;
}

.page-content {
	
	height: 100%;
	transition-property: transform;
	transition-duration: .4s;
	position: relative;
	z-index: 2;
	transition: margin 0.4s;
}

@media screen and (min-width: 768px) {
  .page-content {
    margin-left: $side-menu-w;

		&.page-content-move {
			margin-left: 0;
		}
  }
}

.nav-custom {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  position: relative;
	z-index: 4;
  background-color: white;
  width: 100%;
}

// .close-menu-btn {
//   font-size: 35px;
//   color: #5e72e4;
//   margin-right: 10px;
//   cursor: pointer;
// }

// @media screen and (min-width: 768px) {
//   .close-menu-btn {
//     display: none;
//   }
// }

.navbar-content {
	padding: 0 !important;
}

.sidenav-header {
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
	width: $side-menu-w;
	height: 70px;
}

.navbar-inner {
	padding: 1rem;
}

.nav-link {
	color: $white !important;
	font-weight: bold;
}

.nav-link {
	&:hover {
		color: $gold !important;
	}
}

.active-nav-link {
	color: $gold !important;
}