* {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

// ~~~ vars ~~~
// burger button
$burger-h: 22px;
$burger-w: 26px;
// burger button stripes
$menu-stripe-w: 26px;
$menu-stripe-h: 3px;
$menu-stripe-color: #3498db;
$menu-stripe-color-h: white;
// header
$header-h: 50px;
$header-background: #2c3e50;
// side menu
$side-menu-w: 250px;

// ~~~ mixins ~~~
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

// ~~ styles ~~~
// html, body {
// 	height: 100%;
// }

// body {
// 	font-family: "Helvetica Neue", sans-serif;
// 	font-weight: 300;
// 	overflow: hidden;
// }

header {
	background-color: $header-background;
	height: $header-h;
	width: 100%;
	padding: 10px;
	position: relative;
	z-index: 4;
	box-shadow: 0 1px 20px 0 rgba(0,0,0,.5);
}

.menu-stripe {
	display: inline-block;
	width: $menu-stripe-w;
	height: $menu-stripe-h;
	background: $menu-stripe-color;
	position: relative;
	@include transition(all .1s linear);
	
	&:before, &:after {
		content: "";
		display: inline-block;
		width: $menu-stripe-w;
		height: $menu-stripe-h;
		background: $menu-stripe-color;
		position: absolute;
		left: 0;
		@include transition(all .1s linear);
	}
	
	&:before {
		top: -8px;
	}
	
	&:after {
		top: 8px;
	}
}

#menu-trigger {
	display: inline-block;
	width: $burger-w;
	height: $burger-h;
	line-height: 15px;
	position: absolute;
	top: 50%;
	left: 20px;
	@include transform(translateY(-50%));
	
	// when you click the hamburger button
	&.menu-clicked {
		.menu-stripe {		
			background-color: transparent;
			
			&:before {
				background-color: white;
				top: 50%;
				@include transform(translateY(-50%) rotate(45deg));
			}
			
			&:after {
				background-color: white;
				top: 50%;
				@include transform(translateY(-50%) rotate(-45deg));
			}
		}
		
		// hovering the hamburger button when its clicked
		&:hover {
			.menu-stripe {
				background-color: transparent;
				
				&:before {
					top: 50%;
					@include transform(translateY(-50%) rotate(45deg));
				}
				
				&:after {
					top: 50%;
					@include transform(translateY(-50%) rotate(-45deg)); 
				}
			}			
		}
	}
	
	// hover the hamburger button
	&:hover {
		.menu-stripe {
			background-color: $menu-stripe-color-h;
			
			&:before, &:after {
				background-color: $menu-stripe-color-h;
			}
			
			&:before {
				top: -10px;
			}
			
			&:after {
				top: 10px;
			}
		}	
	}
}

.side-menu-container {
	// force hardware acceleration in Chrome
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	
	width: $side-menu-w;
	height: 100%;
	background-color: #34495e;
	color: white;
	position: fixed;
	left: 0;
	z-index: 3;
	// visibility: hidden;
	// padding: 20px;
	
	// @include transition(transform .4s 0s, visibility 0s .4s);
	// @include transform(translateX(-80px));
	
	// &.slide-in {
	// 	visibility: visible;
	// 	@include transform(translateX(0));		
	// 	@include transition(transform .4s 0s, visibility 0s 0s);
	// }
}

.page-content {
	// force hardware acceleration in Chrome
	// -webkit-transform: translateZ(0);
	// -webkit-backface-visibility: hidden;
	
	height: 100%;
	transition-property: transform;
	transition-duration: .4s;
	position: relative;
	z-index: 2;
	// background: #3498db;
	// color: white;
	
	&.slide-content {
		@include transform(translateX($side-menu-w));
	}
}

@media screen and (min-width: 768px) {
  .page-content {
    margin-left: $side-menu-w;
  }
}