.wrapper {
  display: flex;
  position: relative;
  cursor: default;
  user-select: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px solid #69b8b1;

  & > * {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
  }

  img {
    object-fit: cover;
  }
}

.pointer {
  cursor: pointer;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: #69b8b1;
  font-weight: bold;
}

.big {
  width: 150px;
  height: 150px;
  border-width: 6px;

  .initials {
    font-size: 4rem;
  }
}

.small {
  width: 50px;
  height: 50px;
  border-width: 2px;

  .initials {
    font-size: 1.3rem;
  }
}

.overlay {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #eeeeee70;
}