.wrapper {
  display: flex;
  position: relative;
  cursor: default;
  user-select: none;
  width: 100px;
  height: 100px;
  background-color: #ad61dd;
  border-radius: 50%;

  & > * {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
  }

  img {
    object-fit: cover;
  }
}

.pointer {
  cursor: pointer;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}

.big {
  width: 150px;
  height: 150px;

  .initials {
    font-size: 4rem;
  }
}

.overlay {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #eeeeee70;
}