$black: #151b26;
$blue: #0066ff;
$blackHighlight: #272e3b;
$white: #fafaff;
$blueWhite: #cbd4db;
$purple: #764abc;
$green: #33b679;
$greenHover: #47c88c;
$gold: #e7a837;
$turq: #39bcb4;
$turqHover: #28c9c0;
$darkGreen: #478d81;
$alertOrange: #f47660;
$menu-color: #141a26;
