@import 'colors';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a  {
  text-decoration: none;
}

// General

.p-1 {
  padding: 10px;
}

.px-1 {
  padding: 0 10px;
}

.py-1 {
  padding: 10px 0;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

// App

.nav-link {
  margin: 0 10px;
}

input, .form-button {
  background-color: #fff;
  border: transparent;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
  border: .4px solid #e6e6f0;
  margin: 10px;
}

.nav-custom {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

// NAVBAR

.main-content {
  position: relative;
}